*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    
}
.nav{
    position: absolute;
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns: 1fr 6fr 2.5fr ;
    align-items: center;
    justify-content: start;
    padding: 0rem 2rem;
    margin: 0 10px;
    width: 100%;
    top: 10PX;

}
.icon{
   
    cursor: pointer;
}
.icon img{
   height: 32px;
   width:140px
    
}
.menu{
    position: absolute;
    display: flex;
    justify-content: start;
   
}
ul{
    display: flex;
    gap: 1rem;
    font-size:14px ;
    list-style: none;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}
.head{
    display: grid;
    grid-template-columns: 1fr 6fr 2.5fr;
    height: 100vh;
    width: 100%;
    
   
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.search{
    background: transparent;
    border: none;
    cursor: pointer;
}
.search:hover{
    text-decoration: underline;
}
#ser{
    background: transparent;
    border: none;
    cursor: pointer;
}
#ser:hover{
    text-decoration: underline;
}
.cards{
    position: relative;
    background-color: #f2f2f2;
    height: 450px;
    width: 100%;
    top:55px;
    cursor: pointer;
}
.cards img{
   height:450px;
    width:100%;
}
.cards h1{
    position: absolute;
    top: 40%;
    left: 60%;
    
}
.cards p{
    position: absolute;
    top: 50%;
    left: 60%;
}
.cards .learn{
    height:40px;
    width: 110px;
    background-color:#0067b8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 60%;
    border: none;
    cursor: pointer;
}
.slide_btn{
    position: relative;
    top:55px;
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.con_logo{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.con_logo a{
    display:grid;
    grid-template-columns: 250px;
    align-items: flex-end;
    text-align: center;
    color: blue;
}
#m365{
  position: relative;
    left:42%;
   
}
#xbox{
    position: relative;
    left: 42%;
}
#sur{
    position: relative;
    left: 42%;
}
.details{
    position: relative;
    top:200px;
    display:flex;
    padding: 10px ;
    margin: 40px 0 10px 20px ;
    height: 400px;
    width: 100%;
    gap:2rem;
    flex-wrap: nowrap;
    justify-content: center;
}

.details > div{
    height: 250px;
    width: 320px;
}
.ad{
    height: 185px;
}
.details a{
    position: relative;
    color: blue;
    top:25px;
}
.details h1{
    font-size: 24.5px;
}
.details #link2{
    position: relative;
    top:60px;
    left: -128px;
}
.xbox_ad{
    position: relative;
    top:350px;
    display: flex;
    justify-content: center;
}
.xbox_ad img{
    width: 1400px;
    height: 500px;
}
.xbox_ad h1{
    position: absolute;
    top:50%;
    margin-left: -980px;
}
.xbox_ad p{
    position: absolute;
    top:60%;
    margin-left: -840px;
}
.xbox_ad .x_series{
    position: absolute;
    top:70%;
    margin-left: -1030px;
    border-radius: 2px;
    height: 40px;
    width: 150px;
    background-color: #0067b8;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14.2px;
}
#business{
    position: relative;
    top: 400px;
    display: flex;
    left:70px;
}
.b_ad{
    height: 500px;
    position: relative;
    top: 430px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2rem;
}
.b_ad img{
    height: 185px;
}
.b_ad div{
    height: 250px;
    width: 320px;
}
.b_ad a{
    position: relative;
    color: blue;
    top:25px;
}
.b_ad h1{
    font-size: 24.5px;
}
.follow{
    position: relative;
    top: 400px;
    display: flex;
    gap: 1rem;
    justify-content: start;
    flex-wrap: nowrap;
    margin-left:70px;
}
.follow p{
    position: relative;
    font-size: 18px;
    top:4px;
}
.footer{
    position: relative;
    margin-top:500px;
    display: flex;
    background: #f2f2f2;
    height: 400px;
}
.foot{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-left: 5%;
    top:10%;
    gap: 3rem;
    
}
.foot ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    top: 40px;
    margin-left: -80px;
    font-size: 11px;
}
#one{
    position: relative;
    left: 48px;
}
#two{
    position: relative;
    left: 75px;
}
#three{
    position: relative;
    left: 38px;
}
#four{
    position: relative;
    left: 28px;
}
#five{
    position: relative;
    left: 73px;
}
#six{
    position: relative;
    left: 33px;
}
.foot2{
    position: relative;
    top: 90%;
    margin-left: -80%;
    display: flex;
    font-size: 10px;
    gap: 1rem;
}
.foot2 .globe{
    display: flex;
    gap: 10px;
}
.foot2 img{
    height: 20px;
    width: 30px;
}
.foot2 .Privacy{
    display: flex;
    gap: 10px;
}
.foot2 .end{
    display: flex;
    gap: 2rem;
    position: relative;
    left: 70%;
}

