*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: absolute;
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns: 1fr 6fr ;
    align-items: center;
    justify-content: start;
    padding: 0rem 2rem;
    margin: 0 10px;
    width: 100%;
    top: -20PX;

}
.icon{
   
    cursor: pointer;
}
.icon img{
    width: 210px;
    height: 110px;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: start;
   
}
ul{
    display: flex;
    gap: 1rem;
    font-size:14px ;
    list-style: none;
    justify-content: start;
    align-items: center;

}