*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.nav{
    position: absolute;
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns: 1fr 6fr 2.5fr ;
    align-items: center;
    justify-content: start;
    padding: 0rem 2rem;
    margin: 0 10px;
    width: 100%;
    top: 10PX;

}
.icon{
   
    cursor: pointer;
}
.icon img{
   height: 32px;
   width:140px
    
}
.menu{
    position: absolute;
    display: flex;
    justify-content: start;
   
}
ul{
    display: flex;
    gap: 1rem;
    font-size:14px ;
    list-style: none;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}
.head{
    display: grid;
    grid-template-columns: 1fr 6fr 2.5fr;
    height: 100vh;
    width: 100%;
    
   
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.search{
    background: transparent;
    border: none;
    cursor: pointer;
}
.search:hover{
    text-decoration: underline;
}
.cards{
    position: relative;
    background-color: #f2f2f2;
    height: 450px;
    width: 100%;
    top:45px;
    cursor: pointer;
}
.cards img{
   height:450px;
    width:100%;
}
.cards h1{
    position: absolute;
    top: 40%;
    left: 60%;
    
}
.cards p{
    position: absolute;
    top: 50%;
    left: 60%;
}
.cards .learn{
    height:40px;
    width: 110px;
    background-color:#0067b8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 60%;
    border: none;
    cursor: pointer;
}
.slide_btn{
    position: relative;
    top:55px;
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.con_logo{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.con_logo a{
    display:grid;
    grid-template-columns: 250px;
    align-items: flex-end;
    text-align: center;
    color: blue;
}
#m365{
  position: relative;
    left:42%;
   
}
#xbox{
    position: relative;
    left: 42%;
}
#sur{
    position: relative;
    left: 42%;
}